# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
bin/
pkg/
.vscode/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
cmd/inductor/debug
cmd/inductor/inductor
cmd/inductor_openbsd_amd64
cmd/inductor_openbsd_386
cmd/inductor_netbsd_arm
cmd/inductor_netbsd_amd64
cmd/inductor_netbsd_386
cmd/inductor_linux_arm
cmd/inductor_linux_amd64
cmd/inductor_linux_386
cmd/inductor_freebsd_arm
cmd/inductor_freebsd_amd64
cmd/inductor_freebsd_386
cmd/inductor_darwin_amd64
cmd/inductor_darwin_386
